.features{
    background-color: rgb(16, 128, 27);
    display: flex;
    justify-content: center;
    padding: 100px 0px;
    .container{
        display: flex;
        width: 1100px;
        align-items: center;
        gap: 100px;
        .item{
            display: flex;
            flex-direction: column;
            gap: 10px;
            &:first-child{
                flex: 2;
            }
            &:last-child{
                flex: 3;
                img{
                    width: 100%;
                    object-fit: contain;
                    margin-bottom: 100px;
                }
            }
            
            h1{
                color: white;
                margin-bottom: 10px;
            }
            p{
                font-size: 18px;
                font-weight: 300;
                color: white;
                line-height: 20px;
                letter-spacing: 1px;
            }
            .title{
                display: flex;
                align-items: center;
                gap: 10px;
                font-weight: 500;
                font-size: 18px;
                color: white;
            }
            button{
                background-color: rgb(11, 4, 109);
                color: white;
                padding: 10px 20px;
                border-radius: 5px;
                font-size: 14px;
                cursor: pointer;
                margin-top: 10px;
                border: none;
                width: max-content;
            }
        }
        
    }
}